

.register-photo {
    background: #f1f7fc;
    padding: 80px 0
}

.register-photo .image-holder {
    display: table-cell;
    width: auto;
    background: url(meeting.jpg) 0 0/cover
}

.register-photo .form-container {
    display: table;
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
    box-shadow: 1px 1px 5px rgba(0,0,0,.1)
}

.register-photo form {
    display: table-cell;
    width: 400px;
    background-color: #fff;
    padding: 40px 60px;
    color: #505e6c
}

@media (max-width: 991px) {
    .register-photo form {
        padding:40px
    }
}

.register-photo form h2 {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 30px
}

.register-photo form .form-control {
    background: #f7f9fc;
    border: none;
    border-bottom: 1px solid #dfe7f1;
    border-radius: 0;
    box-shadow: none;
    outline: 0;
    color: inherit;
    text-indent: 6px;
    height: 40px
}

.register-photo form .form-check {
    font-size: 13px;
    line-height: 20px
}

.register-photo form .btn-primary {
    border: none;
    border-radius: 4px;
    padding: 11px;
    box-shadow: none;
    margin-top: 35px;
    text-shadow: none;
    outline: 0!important
}

.register-photo form .btn-primary:active,.register-photo form .btn-primary:hover {
    background: #eb3b60
}

.register-photo form .btn-primary:active {
    transform: translateY(1px)
}

.register-photo form .already {
    display: block;
    text-align: center;
    font-size: 12px;
    color: #6f7a85;
    opacity: .9;
    text-decoration: none
}



.form-control.input {
    border: 0;
    background: 0 0;
    border-bottom: 1px solid silver;
    border-radius: 0!important
}



input[type=email],input[type=tel],input[type=text],textarea {
    border-radius: 8px!important
}

.btn-primary:hover {
    color: #fff;
    background-color: #4daade;
    border-color: #4daade;
    box-shadow: 0 10px 15px rgba(157,157,157,.4)
}

.btn-primary:not(:disabled):not(.disabled).active,.btn-primary:not(:disabled):not(.disabled):active,.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #4daade;
    border-color: #4daade
}


button,input,optgroup,select,textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

button,select {
    text-transform: none
}

.form-control {
    display: block;
    width: 100%;
    padding: .625rem;
    font-size: .875rem;
    line-height: 1.3;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .125rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #48ccff;
    outline: 0;
    box-shadow: none
}

select.form-control:not([size]):not([multiple]) {
    height: calc(2.3875rem + 2px)
}

.field {
    display: flex;
    flex-flow: column-reverse;
    margin-bottom: 1em
}

input,label,textarea {
    transition: .2s!important
}

.link-button {
    background: none;
    color: blue; /* 例として青色にしていますが、好みの色に変更してください */
    border: none;
    padding: 0;
    font: inherit;
    text-decoration: underline; /* 下線を引く */
    cursor: pointer;
}

.link-button:hover {
    color: darkblue; /* ホバー時の色を変更 */
}

.link-button:focus {
    outline: none;
}


